<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<title>Spring Boot Demo</title>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark">
			<h2 class="text-light" th:text="#{message.titleNavbar}"></h2>
		</nav>
		<div align="center" class="container">
			<br>
			<h1>Change Password</h1>
			<br>
			<form action="#" th:action="@{/reset-password}" th:object="${user}" method="post">
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" class="form-control" id="email" name="email" th:field="*{email}" autofocus="autofocus"
							readOnly="readOnly" placeholder="Enter your email.">
				</div><br>
				<div class="form-group">
					<label for="password">New Password</label>
					<input type="password" id="password" name="password" class="form-control" th:field="*{password}" autofocus="autofocus"
							placeholder="Enter your new password.">
				</div><br>
				<input type="submit" id="change-submit" name="change-submit" class="btn btn-lg btn-primary btn-block" value="Change Password">
			</form>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</body>
</html>