<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" th:href="@{/css/product.css}">
		<title>Spring Boot Demo</title>
	</head>
	<body>
		<!-- Addpage Navbar -->
		<nav id="headerBar" class="navbar navbar-inverse navbar-dark bg-dark">
			<div class="container-fluid">
				<div class="d-flex justify-content-between">
					<div id="leftContents" class="top-menu d-flex align-items-center navbar-header">
						<button id="sideCollapseOpen" class="navbar-toggler navbar-brand sidebarOpenButton" data-toggle="collapse" data-target="#navbarToggleExternalContent"
			  	 	 	 aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      		  				<i class="fa fa-bars text-light"></i>
    					</button>
    					<div class="top-menu d-flex align-items-center">
							<a id="headerTitle" href="/" class="text-light"><h3 th:text="#{message.titleNavbar}"></h3></a>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-between">
					<div id="userInfo" class="top-menu d-flex align-items-center nav navbar-nav navbar-right row">
						<div class="d-flex align-items-center row">
							<img id="avatarImage" src="../images/avatar.png" alt="profile"></img>&nbsp;&nbsp;
							<p sec:authroize="isAuthenticated()"></p>
							<span class="text-light" sec:authentication="principal.username">User</span>&nbsp;&nbsp;&nbsp;&nbsp;
						</div>
					</div>
				</div>
			</div>
		</nav>
		<!-- Menu Bar -->
		<div id="main">
			<div id="menuNavbar">
				<a href="/product/productpage" class="text-light"><i class="fa fa-product-hunt text-light space-icon"></i><span th:text="#{link.productPage}"></span></a>
				<a href="/product2/productpage2" class="text-light"><i class="fa fa-product-hunt text-light space-icon"></i><span th:text="#{link.product2Page}"></span></a>
				<a href="/upload/uploadpage" class="text-light"><i class="fa fa-upload text-light space-icon"></i><span th:text="#{link.uploadPage}"></span></a>
				<a th:href="@{/logout}" class="text-light"><i class="fa fa-sign-out text-light space-icon"></i><span th:text="#{button.logout}"></span></a>
			</div>
		</div>
		<!-- Addpage Content -->
		<div id="productContent" align="center" class="container-fluid">
			<br>
			<h1 th:text="#{message.addProduct}"></h1>
			<br>
			<form action="#" th:action="@{/product/save}" th:object="${product}" method="post">
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger">
					Name Error
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" th:text="#{message.productName}"></span>
					</div>
					<input type="text" class="form-control" th:field="*{name}" th:placeholder="#{placeholder.productName}">
				</div>
				<div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="alert alert-danger">
					Price Error
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" th:text="#{message.productPrice}"></span>
					</div>
					<input type="text" class="form-control" th:field="*{price}" th:placeholder="#{placeholder.productPrice}">
				</div>
				<div th:if="${#fields.hasErrors('developer')}" th:errors="*{developer}" class="alert alert-danger">
					Developer Error
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" th:text="#{message.productDeveloper}"></span>
					</div>
					<input type="text" class="form-control" th:field="*{developer}" th:placeholder="#{placeholder.productDeveloper}">
				</div>
				<div th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}" class="alert alert-danger">
					Publisher Error
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" th:text="#{message.productPublisher}"></span>
					</div>
					<input type="text" class="form-control" th:field="*{publisher}" th:placeholder="#{placeholder.productPublisher}">
				</div>
				<br>
				<button type="submit" class="btn btn-success btn-block" th:text="#{button.saveProduct}"></button>
				<br>
				<a class="btn btn-danger btn-block" href="/product/productpage"><span th:text="#{button.backToProduct}"></span></a>
				<br>
			</form>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script type="text/javascript" src="/js/product-styles.js"></script>
	</body>
</html>